.motion-player {
  overflow: hidden;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 10px;
  color: var(--motion-player-text-color, #fff);
  background: var(--motion-player-background-color, #0c0c0c);
}
.motion-player_controls {
  cursor: auto;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.motion-player_controls::before {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 200px;
}

.motion-player_controls_visible {
  opacity: 1;
}
